@model Category
<form class="pt-4" method="post">
    <div class="row">
        <h2 class="text-primary">Create Category</h2>
    </div>
    <fieldset>
        <label class="form-label" for="name" asp-for="Name"></label>
        <input class="form-control" id="name" asp-for="Name" placeholder="Enter name of category...">
        <span asp-validation-for="Name"></span>
    </fieldset>
    <fieldset>
        <label class="form-label mt-4" for="displayOrder" asp-for="DisplayOrder"></label>
        <input class="form-control" id="displayOrder" asp-for="DisplayOrder" placeholder="Enter display order...">
        <span asp-validation-for="DisplayOrder"></span>
    </fieldset>
    <button type="submit" class="btn btn-primary mt-4" style="width:150px">Create</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary mt-4" style="width:150px">Back To List</a>
</form>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
