@model IEnumerable<CoverType>
@{
    ViewData["Title"] = "Index";
}

<style>
    /*h1{
            margin-top:20px;
        }*/
</style>
@*<h1>CoverType Index</h1>*@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6 text-primary">
            <h2 class="mt-2">CoverType List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-secondary my-2 my-sm-0" asp-controller="CoverType" asp-action="Create"><i class="bi bi-plus-square"></i> &ensp; Create CoverType</a>
        </div>
    </div>


    <table class="table table-bordered table-striped" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th scope="row">Id</th>
                <th scope="row">Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CoverType CoverType in Model)
            {
                var tableClass = "";
                if (CoverType.Id % 2 == 0)
                {
                    tableClass = "table-light";
                }
                else
                {
                    tableClass = "table-active";
                }
                <tr class=@tableClass>
                    <td style="width:40%">@CoverType.Name</td>
                    <td>
                        <div class="btn bg-secondary">
                            <a asp-controller="CoverType" asp-action="Edit" class="text-light" asp-route-id="@CoverType.Id"> <i class="bi bi-pencil"></i> &ensp; Edit</a>
                        </div>
                        <div class="btn bg-secondary">
                            <a asp-controller="CoverType" asp-action="Delete" class="text-light" asp-route-id="@CoverType.Id"><i class="bi bi-trash"></i> &ensp; Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>